* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

table {
    border-collapse: collapse;
}

#sectionSpace {
    height: 3em;
    width: 100%;
    background-color: rgba(128, 128, 128,.2);
}

.headerImg img {
    max-height: 350px;
    width: 100%;
}

.noteTeacher {
    padding: 3em;
}

.noteTeacher h1 {
    color: orange;
    font-size: 4em;
    text-align: center;
}

.noteTeacher p {
    padding: 2em 3em 0 3em;
    font-size: 22px;
    text-align: justify;
}

.s1Pencil {
    padding: 1.5em;
}

.s1Pencil img {
    width: 100%;
}

.pencilMobile {
    display: none;
}

@media screen and (max-width: 1100px) {
    .headerImg img {
        height: auto;
        width: 100%;
    }
    .noteTeacher h1 {
        font-size: 3em;
        text-align: center;
    }
    .noteTeacher p {
        padding: 2em 1em 0 1em;
        font-size: 18px;
        text-align: justify;
    }
    
}

@media screen and (max-width: 650px) {
    .noteTeacher {
        padding: 1.5em;
    }
    .noteTeacher h1 {
        font-size: 2em;
    }
    .noteTeacher p {
        padding: 2em 0 0 0;
    }
    .s1Pencil {
        padding: 10px;
    }
    .pencilMobile {
        display: block;
    }
    .pencilDesktop {
        display: none;
    }
}

/*       section 1 ends       */

.s2 {
    padding: 4em 2em;
}

.s2header h1 {
    color: orange;
}

.s2Table {
    padding: 10px;
    margin: 2em 0;
}

.s2Table img {
    width: 100%;
}

.s2footer ul {
    margin: 5px 0;
}

.s2footer li {
    margin: 5px;
    margin-left: 10px;
    display: flex;
    align-items: baseline;
    justify-content: start;
}

.s2 h1 {
    font-size: 3em;
}

.s2footer p {
    font-size: 1.5em;
    padding-left: 3px;
    text-align: justify;
}



/*     section 2 ends     */

.s3 {
    padding: 4em 5em;
}

.s3Header {
    padding: 2em 0;
}

.s3Header h1 {
    color: orange;
    padding-bottom: .5em;
    font-size: 5em;
}

.s3Table1 {
    display: flex;
    gap: 3em;
    justify-content: space-between;
}

.s3Table1 h2 {
    padding: 1em;
} 

.s3Table1 table th {
    padding: 1em 3em;    
}

#mainrow1 {
    background: rgb(41, 97, 202);
    color: white;
}

#secondrow1 {
    background: rgba(173, 216, 230,.4);
}

.s3Table2 h2 {
    padding: 1em;
}


.s3Table2 tr {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}

#secondrow2 {
    outline: .1px solid grey;
}

#mainrow2 {
    background: rgb(128, 189, 189);
    color: white;
}

.s3Table3 th, .s3Table3 td {
    padding: 1em;
}

.s3Table3 h2 {
    padding: 1em;
}

.s3Table3 td span {
    display: flex;
    justify-content: center;
}

#mainrow3 {
    color: white;
    background: rgba(0, 128, 0,.7);
}

#secondrow3 {
    outline: .1px solid grey;
}

.s3table3img {
    display: none;
    width: 100%;
}

.s3table2img {
    display: none;
    width: 100%;
}
.s3table1secondimg {
    display: none;
    width: 100%;
}

/*       section 3 ends       */

.s4 {
    padding: 4em 5em;
}
.s4header h1 {
    padding: 1em 0;
    font-size: 3em;
    color: orange;
}

.s4table img {
    width: 100%;       
}
.s4header {
    padding: 1.5em 10px ;
}

.s4Question {
    border: 1px solid aqua;
    margin-top: 3em;
    padding: 2em;
}

.s4Question ol {
    list-style-type: lower-alpha;
    margin-left: 3em;
}

.s4Ques {
    margin: 1em;
}

.s4learningSight {
    margin: 2em 0;
}

.s4learningSight p {
    padding-left: 1em;
}

.s4link {
    display: flex;
    justify-content: right;
}

.s4link a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
}






.mainfooter {
    padding: 10px;
    margin-top: 1em;
    background: black;
}
.mainfooter img {
    width: 100%;
}


@media screen and (max-width: 1220px) {
    .s2footer p {
        font-size: 1em;
        padding-left: 1em;
    }
    .s2footer h1 {
        font-size: 2em;
    }
    .s3Table1 {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .s2footer h1 {
        font-size: 1.7em;
    }
    .s2 h2 {
        font-size: 1.3em;
    }

    .s3 {
        padding: 2em .5em;
    }
    .s4 {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .s2 {
        padding: 3em 1em;
    }
    .s2 li {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   
    .s2Table {
        padding: 0;
    }

    
    .s3Header h1 {
        font-size: 3em;
    }
    .s3 h2 {
        font-size: 1em;
    }
    .s3Table2 table {
        display: none;
    }
    .s3table1second table {
        display: none;
    }
    .s3Table3 table {
        display: none;
    }
    .s3table3img {
        display: block;
        width: 100%;
    }
    .s3table2img {
        display: block;
    }
    .s3table1secondimg {
        display: block;
    }
    .s4header h1 {
        padding-top: 0;
    }
}